body{
    background-color: #f3f3f3;
    background-image: url(../images/1.PNG);
    background-repeat: no-repeat;
    background-size: 100% 100vh;
    backdrop-filter: blur(10px);
    background-position: top;
    background-position-y: 75px;
}

header{
    margin-bottom: 0%;
}

#particles-js{
    display: none;
}

.article{
    padding: 2%;
    width:70%;
    height:auto;
    background:#fff;
    margin: auto;
    margin-top: 13%;
    font-family: 'Roboto Slab', Helvetica, Arial, sans-serif;
}

.article h1{
    font-weight: 800;
}

.imgwrapper{
    width: 50%;
    height: auto;
    text-align: left;
    -webkit-box-shadow: 0 10px 6px -6px #777;
    -moz-box-shadow: 0 10px 6px -6px #777;
    box-shadow: 0 10px 6px -6px #777;
}

.article .imgwrapper img{
    width: 100%;
}

@media screen and (max-width:768px){
    body{
        background-size: 100% 50vh;
        background-position-y: 5%;
    }

    .article{
        width: 90%;
    }

    .article h1{
        font-size: 170%;
    }

    .imgwrapper{
        width: 100%;
    }
}